/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --red: #a34064;
    --dark-red: #7c2f4c;
    --red-alt: #a340649c;
    --red-transparent: #a340651c;
    --red-transparent-alt: #99355a31;
    --transparent-light: #8f50fb23;
    --red-light: #993559;
    --yellow-solid: #e99b88;
    --yellow-transparent: #e99c8869;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--red-light));
    --gradient-color-alt: linear-gradient(to right, var(--red-light), var(--yellow-solid));
}

textarea,
select,
input.text,
input[type="text"],
input[type="date"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

.spinner-wrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner > img {
    height: 100%;
}

/*Shape divider*/
.custom-shape-divider-bottom-1604697511 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1604697511 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1604697511 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1604754035 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1604754035 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1604754035 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1604754178 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1604754178 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1604754178 .shape-fill {
    fill: #FFFFFF;
}

/* Global styles */
html {
    font-size: 10px; /* Plus facile pour travailler avec frame units après */
} 

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem; 
   color: var(--dark-color);
}

.wrapper {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

section {
   padding: 5rem 0; 
}

/* Reusable styles */
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.btn {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 20px;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.30);
    display: inline-flex;
    align-items: center;
}

.btn-gradient {
    background-color: var(--yellow-solid);
}

.btn-gradient:hover {
    opacity: .85 !important;
    animation: bounce 1.7s ease infinite;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
  
    80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
}

.btn-red {
    background-color: var(--red-light);
}

.btn-red:hover {
    background-color: var(--yellow-solid);
    transition: .5s;
}

.dots {
    font-size: 2rem;
    margin-left: .7rem;
    opacity: .60;
}

.form-btn {
    margin-top: 2.5rem;
    cursor: pointer;
}

/* Header section */
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

/* Header nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}

.nav a {
    display: flex;
}

.logo {
    display: flex;
    margin-left: 3rem;
}

.logo i {
    max-width: 80%;
    font-size: 24px;
    color: var(--yellow-solid);
    margin-right: 1rem;
}

.logo p {
    color: #fff;
    font-family: 'Courgette', cursive;
    font-size: 18px;
    letter-spacing: -1px;
    position: relative;
    top: 2px;
}

.social {
    display: flex;
    color: #fff;
    margin: 0 2rem;
}

.social i {
    font-size: 20px;
    cursor: pointer;
    margin-right: 1rem;
}

.social i:hover {
    color: var(--yellow-solid);
}

.hamburger-menu {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}

.hamburger-menu:hover {
    color: var(--yellow-solid);
}

.hamburger-menu .fa-times {
    display: none;
}

.hamburger-menu span {
    text-transform: uppercase;
    margin-left: 1rem;
}

.menu-open .hamburger-menu .fa-times {
    display: block;
}

.menu-open .hamburger-menu .fa-bars {
    display: none;
}

.menu-open .hamburger-menu span {
    display: none;
}

.nav-list {
    position: fixed;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    transform: scale(0);
    opacity: .5;
    transition: opacity 1.3s;
    background-color: var(--dark-red);
}

/* Classe appliquée par JS */
.menu-open .nav-list {
    opacity: 1;
    transform: scale(1);
}

.nav-item:not(:last-child) {
    margin-bottom: .5rem;
}

.nav-link {
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

.nav-link:hover {
    color: var(--yellow-solid);
}

/* Hero section */
.hero {
    width: 100%;
    height: 105vh;
    background: url('./imgs/hero_background.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--red-transparent-alt);
    z-index: -1;
}

.main-heading {
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
    margin-bottom: 2.5rem;
}

.title {
    font-size: 6.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Courgette', cursive;
    letter-spacing: -2px;
}

/* Booking section */
.booking-paragraph {
    color: #a5a5a5;
    line-height: 1.8;
    font-weight: 600;
    width: 80%;
    margin: 4rem auto 6rem auto;
}

.input-group {
    margin-bottom: 1.5rem;
    -webkit-appearance: none;
    border-radius: 0;
}

.input-label {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #777;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input, 
.options {
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;    
    background-color: #f4f4fc;
    color: #777;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    resize: none;
}

::placeholder {
    color: inherit;
}

/* Featured hotels section */
.section-header {
    text-align: center;
    margin-bottom: 5rem;
}

.heading {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}

.sub-heading {
    font-size: 1.8rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    letter-spacing: -1px;
    color: #a5a5a5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-travels {
    height: 35rem;
    color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 0;
}

.featured-travels::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--red-transparent-alt);
    z-index: -1;
}

.travel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.travel-name {
    font-size: 2.6rem;
}

.travel-price {
    font-size: 1.8rem;
}

.travel-rating {
    margin: 1rem 0 2.5rem;
}

.rating {
    color: var(--yellow-solid);
}

/* Special offer section */
.offer {
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)),
                url('./imgs/iceland.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 10rem;
    height: 700px;
}

.offer-content {
    background-color: #fff;
    text-align: center;
    padding: 6rem 1rem;
    position: relative;
    top: 150px;
    overflow: hidden;
}

.discount {
    background-color: var(--yellow-solid);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: 2px solid var(--yellow-solid);
    outline-offset: .5rem;
    color: #fff;
}

.paragraph {
    color: #a5a5a5;
    margin-bottom: 2.5rem;
}

/* Trending section */
.trending {
    overflow-x: hidden;
    margin-top: 2rem;
}

.overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16rem;
    z-index: 1;
}

.right {
    float: right;
}

.box-1 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/turkey.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.box-2 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/turkey_1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    transform: translateY(-60px) !important;
}

.box-3 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/turkey_2.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.box-4 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/turkey_3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    transform: translateY(-60px) !important;
}

.box-5 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/ireland.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.box-6 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/ireland_1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    transform: translateY(-60px) !important;
}

.box-7 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/ireland_3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.box-8 {
    width: 200px;
    height: 400px;
    background: linear-gradient(to right, var(--yellow-transparent), var(--red-transparent-alt)), url('./imgs/ireland_4.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    transform: translateY(-60px) !important;
}

.trending-title {
    width: 55%;
    float: right;
    position: relative;
    top: -250px;
    left: 115px;
    z-index: 5;
}

.trending-title h1 {
    font-size: 90px;
    letter-spacing: 22px;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(-30px);
    line-height: 50px;
    margin: 0;
}

.trending-title h1 span {
    color: #fff;
}

.two {
    float: left;
    top: -280px;
}

.two h1 {
    transform: translateX(-230px);
}

.trending-title h5 {
    position: relative;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 35px;
    transform: translateX(42px);
    text-align: center;
    margin-top: 3rem;
}

.trending-content {
    width: 60%;
    text-align: justify !important;
    transform: translateX(55%) !important;
    font-weight: 400;
    font-size: 20px;
    color: #a5a5a5;
    margin-top: 5rem;
    clear: both;
}

.trending-content a {
    margin-top: 1.5rem;
}

/* About section */
.about {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    margin-top: 4rem;
	padding-bottom: 100px;
    background: url('./imgs/pattern-curve.svg');
    background-position: center bottom;
	background-size: contain;
    background-repeat: no-repeat;
}

.slider {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
    position: relative;
}

.slide {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.slide-text {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../imgs/pattern-quotes.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: top center;
}

.testimonial-text {
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: hsl(240, 38%, 20%);
}

.author-text {
	margin-top: 20px;
	color: hsl(240, 38%, 20%);
	font-size: 1rem;
	font-weight: 700;
}

.slide-img img {
	height: 100%;
    width: 300px;
    margin-left: 2rem;
}

.buttons-slider {
	transform: translateX(-50%);
	width: 90px;
	height: 45px;
	box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
	border-radius: 50px;
	background-color: white;
    overflow: hidden;
}

.prev,
.next {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}

.prev {
	left: 0;
}
.next {
	right: 0;
}

.prev:hover,
.next:hover {
	background-color: antiquewhite;
}

.next::after,
.prev::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.next::after {
	background-image: url(./imgs/icon-next.svg);
}

.prev::after {
	background-image: url(./imgs/icon-prev.svg);
}

.footer {
	background: #222;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-left,
.footer-center,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-left {
	width: 40%;
}

.footer-left .logo {
    margin-left: 0;
    margin-bottom: 2rem;
}

.footer-left .logo i {
    font-size: 18px;
}

.footer p {
	color: #fff;
	margin: 0;
}

/* Footer links */
.footer-links {
	color: #ffffff;
	margin: 20px 0;
}

.footer-links a {
	display: flex;
	line-height: 1.8;
    font-weight: 400;
	text-decoration: none;
    color: inherit;
    margin-right: .4em;
    margin-bottom: .4em;
}

.footer-links a:hover {
    color: var(--yellow-solid);
}

/* Footer Center */
.footer-center {
	width: 35%;
}

.footer-center p {
	display: inline-block;
	color: #fff;
    font-weight:400;
	vertical-align: middle;
    margin: 0;
    margin-bottom: 1em;
}

.footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
    line-height: 2;
    margin-bottom: 1em;
}

.footer-center p a {
	color: var(--yellow-solid);
	text-decoration: none;
}


/* Footer Right */
.footer-right {
	width: 20%;
}

.footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons {
	margin: 25px 0 20px 0;
}

.footer-icons a:hover {
    background-color: var(--yellow-solid);
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-company-name {
	color: rgba(255, 255, 255, 0.575);
	font-size: 14px;
	font-weight: normal;
}

@media all and (max-width: 1224px) {
    .right {
        float: none;
    }

    .trending-title {
        width: auto;
        z-index: 5;
        position: initial;
        top: -50px;
        float: none;
    }

    .two h1 {
        transform: translateY(-30px);
    }
    
    .trending-title h1 span {
        color: #a19b9b;
    }

    .trending-content {
        width: auto;
        text-align: center !important;
        transform: none !important;
        margin-top: 2rem;
    }

    .trending-content a {
        margin-top: 4rem;
    }
}

@media (max-width: 880px) {
	.footer {
		font: bold 14px sans-serif;
    }

    .footer-left .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-links a {
        display: inline-block;
    }

	.footer-left,
	.footer-center,
	.footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
    .buttons-slider {
        position: absolute;
        left: 50%;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 768px) {
	.slide {
		flex-direction: row;
		text-align: left;
    }
    
	.slide-text {
		background-position: 10% top;
		background-size: 100px;
		align-items: flex-start;
    }
    
	.slide-img {
		z-index: -1;
    }
    
	.slide-img img {
		width: 400px;
    }
    
	.buttons-slider {
		transform: translate(0);
        left: calc(100% - 400px);
	}
}

@media screen and (max-width: 600px) {
    .hero {
        background-attachment: scroll;
    }

    .discount {
        padding: .3rem;
        font-size: 13px;
    }

    .offer {
        background-attachment: scroll;
    }

    .offer-content {
        top: 120px;
    }

    .trending-title h1 {
        text-align: center;
        font-size: 45px;
        letter-spacing: 12px;
    }

    .trending-content  {
        font-size: 17px;
        margin-top: 0;
    }

    /* .buttons-slider {
        top: 350px;
    } */
}

@media only screen and (max-width: 580px) {
    .container {
        width: initial;
    }
	.slide-img img {
		width: 200px;
    }
    
	.slide-img {
		padding: 10px;
	}
}

@media screen and (max-width: 376px) {
    .hamburger-menu span {
        display: none;
    }

    .heading {
        font-size: 3rem;
    }

    .title {
        font-size: 5.8rem;
    }

    .offer-content {
        top: 110px;
    }

    .two h1 {
        transform: translateY(-25px);
    }
}









